@import '../../semantic/dist/semantic.min';

.body-render {
	position: relative;
	clear: both;
}

.text.main.container {
	margin: 4em auto;
	clear: both;
}

.SiteHeader { 
	.segment {
		padding: 0;
	}
}

.SiteBody {
	
	.masthead {
		font-size: 3rem;
		position: relative;
		overflow: hidden;
		
		h1 {
			font-size: 3.5em;
			font-size: 3.5rem;
			position: relative;
			z-index: 3;
		}

		.background.container {
			position: absolute;
			z-index: 2;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;

			.image {
				position: absolute;
				z-index: 1;
				width: 100%;
				top: 0;
				left: 0;
				height: 1050px; // size of the image
				background: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
							url('/images/winning-the-future-background.jpg');
				animation: moveBG 50s linear infinite;
			}
		}
	}

	.body-divider {
		padding: .25rem;

	}

	clear: both;
}

.SiteAbout {
	iframe {
		border: none;
		display: inline-block;
		vertical-align: top;
		clear: both;
		transform: translateX(-10px);
		margin: 0 30px;
	}

	.about-body {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 185px);
	}
}

.linkedinBTN {
	width: 156px;
    overflow: hidden;
    display: block;
    height: 29px;
    border-radius: 5px;
    position: relative;

	img {
		display: block;
	    position: absolute;
    	left: -2px;
    	top: -2px;
    }
}

@keyframes moveBG {
	from { transform: translateY(0); }
	to   { transform: translateY(-910px); }
}